on: [push]

jobs:
  build_docs_job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
            python-version: "${{ matrix.python-version }}"
    - name: Dependencies
      run: |
        # sudo add-apt-repository ppa:deadsnakes/ppa
        # sudo apt-get update
        # sudo apt-get install python3.8
        alias python=python3.8
        echo `python3 --version`
        sudo apt-get install -y python3-setuptools sox
        pip3.8 install wheel boto3 requests
        pip3.8 install --upgrade cython
        pip3.8 install sox librosa
        pip3.8 install -r requirements.txt
        pip3.8 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/test/cpu/torch_test.html
    - name: Build the docset
      run: make html
      id: build     
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: _build/html # The folder the action should deploy. 
